<section>
  <header>
    <input type="text" placeholder="Search" class="search_bar" />
  </header>
  <main>
    <p-table
      #myTab
      [value]="tableData"
      styleClass="p-datatable-striped"
      [tableStyle]="{
        'margin-top': '3rem',
        height: '500px',
        'min-width': '50rem',
        padding: '1rem'
      }"
      currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
      responsiveLayout="scroll"
    >
      <ng-template pTemplate="header">
        <!-- issues styling primeNg -->
        <tr style="background-color: #f56b2a">
          <th style="width: 10%"></th>
          <th>Name</th>
          <th>Email</th>
          <th>Phone Number</th>
          <th>IPPIS No</th>
          <th>Amount</th>
          <th>Tenor</th>
          <th>Date</th>
          <th>Mode</th>
          <th>MDA Name</th>
        </tr>
      </ng-template>

      <ng-template pTemplate="body" let-people>
        <tr>
          <td>
            <button class="view_btn">View</button>
          </td>
          <td>{{ people?.firstname + " " + people?.lastname }}</td>
          <td>{{ people?.email ? people?.email : "--" }}</td>
          <td>{{ people.telephone }}</td>
          <td>{{ people?.ippisnumber }}</td>
          <td>{{ people?.loan_amount }}</td>
          <td>{{ people?.tenor }}</td>
          <td>{{ people?.created_at | date : "dd/MM/yyyy" }}</td>
          <td>{{ people?.mode ? people?.mode : "--" }}</td>
          <td>{{ people?.mdaName ? people?.mdaName : "--" }}</td>
        </tr>
      </ng-template>
    </p-table>

    <footer>
      <p>Displaying <span class="activeNumber">1</span> out of 1500 results</p>

      <section class="footer_right">
        <div>{{startingCount}} - {{endCount}}</div>
        <div class="pagination_btns">
          <button (click)="getPreviousPage()" class="pagination_btn">Previous</button>
          <button (click)="getNextPage()" class="pagination_btn">Next</button>
        </div>
      </section>
    </footer>
  </main>
</section>
